<!doctype html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65909718-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{.Analytics}}');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Digital resume for Homin Lee.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{.Name}}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Homin Lee">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- iOS icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/touch/apple-touch-icon-57x57-precomposed.png">

    <!-- Generic Icon -->
    <link rel="shortcut icon" href="images/touch/touch-icon-57x57.png">

    <!-- Chrome Add to Homescreen -->
    <link rel="shortcut icon" sizes="196x196" href="images/touch/touch-icon-196x196.png">

    <!-- Javascript -->
    <script type="text/javascript" src="{{.Baseurl}}assets/jquery.js"></script>
    <script type="text/javascript">
      labels = [
        {{range .Sections}}
          "{{.ID}}",{{end}}
      ];
    </script>
    <!-- <script type="text/javascript" src="{{.Baseurl}}assets/scroller.js"></script> -->
    <!-- <script type="text/javascript" src="{{.Baseurl}}assets/main.js"></script> -->

    <!-- stylesheets -->
    <link type="text/css" rel="stylesheet" href="{{.Baseurl}}assets/h5bp.css">
    <link type="text/css" rel="stylesheet" href="{{.Baseurl}}assets/components/components.css">
    <link type="text/css" rel="stylesheet" href="{{.Baseurl}}assets/main.css">
    <link type="text/css" rel="stylesheet" href="{{.Baseurl}}assets/custom.css">

  </head>
  <body>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="menu"></button>
        <p><h1 class="logo"><b>{{.Title}}</b></h1></P>
        <p><h3 class="contact">- {{.Email}}</h3></p>
        <p><h2 class="logo2"><b>{{.Title2}}</b></h2></p>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <ul>
        {{range .Sections}}
        <li><a href="#{{.ID}}" class="to-{{.ID}}"> {{.Name}} </a></li> {{end}}
      </ul>
    </nav>
    <main>
{{range $s := .Sections}}
      <div class="section">
        <h2 id="{{.ID}}"> {{.Name}} </h2>
        <hr />
  {{if eq $s.Layout "list"}}
  {{if eq $s.ID "skills"}}
      <div class="double-section">
  {{end}}
      {{with .Data}}
        {{range .}} 
        <h3>{{.Title}}</h3>
        <ul>
          {{range .Item}} <li>{{.|markdown}}</li> {{end}}
        </ul> {{end}}
      {{end}}
  {{if eq $s.ID "skills"}}
      </div>
  {{end}}
  {{end}}
  {{if eq $s.Layout "block"}}
      {{with .Data}}
        {{range .}} 
      <div class="block">
        <div class="main-row">
          <div class="org"> <h3>{{.Org}}</h3> </div>
          <div class="when"> <h3>{{.When}}</h3> </div>
        </div>
        <div class="sub-row">
          <div class="role"> <h4>{{.Role}}</h4> </div>
          <div class="location"> <h4>{{.Location}}</h4> </div>
        </div>
        <ul>
          {{range .Bullets}} <li>{{.|markdown}}</li> {{end}}
        </ul>
      </div>
      {{end}}
      {{end}}
  {{end}}
  {{if eq $s.Layout "desc"}}
      {{with .Data}}
        <h4>{{.Contents}}</h4>
      {{end}}
  {{end}}
      </div>
{{end}}
    </main>

    <footer>
      <small>&copy; {{.Copyright}}</small>
    </footer>

    <!-- Built with love using Web Starter Kit -->

  </body>
</html>
