<!doctype html>
<html>
  <head>
    <link rel="icon" href="https://homin.dev/asset/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="https://homin.dev/asset/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://homin.dev/asset/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" href="https://homin.dev/asset/favicon/apple-touch-icon.png">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TDBD9KS9');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Digital resume for Homin Lee.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{.Name}}</title>

    <!-- Javascript -->
    <script type="text/javascript" src="{{.Baseurl}}assets/jquery.js"></script>
    <script type="text/javascript">
      labels = [
        {{range .Sections}}
          "{{.ID}}",{{end}}
      ];
    </script>
    <!-- <script type="text/javascript" src="{{.Baseurl}}assets/scroller.js"></script> -->
    <!-- <script type="text/javascript" src="{{.Baseurl}}assets/main.js"></script> -->

    <!-- stylesheets -->
    <link type="text/css" rel="stylesheet" href="{{.Baseurl}}assets/h5bp.css">
    <link type="text/css" rel="stylesheet" href="{{.Baseurl}}assets/components/components.css">
    <link type="text/css" rel="stylesheet" href="{{.Baseurl}}assets/main.css">
    <link type="text/css" rel="stylesheet" href="{{.Baseurl}}assets/custom.css">

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDBD9KS9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <div class="title-section">
          <h1 class="logo"><b>{{.Title}}</b></h1>
	  <div class="contact">✉️ {{.Email}}</div>
        </div>

        <h2 class="logo2"><b>{{.Title2}}</b></h2>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <ul>
        {{range .Sections}}
        <li><a href="#{{.ID}}" class="to-{{.ID}}"> {{.Name}} </a></li> {{end}}
      </ul>
    </nav>
    <main>
{{range $s := .Sections}}
      <div class="section">
        <h2 id="{{.ID}}"> {{.Name}} </h2>
        <hr />
  {{if eq $s.Layout "list"}}
  {{if eq $s.ID "skills"}}
      <div class="double-section">
  {{end}}
      {{with .Data}}
        {{range .}}
        {{if .Title}} <h3>{{.Title}}</h3> {{end}}
        <ul>
          {{range .Item}} <li>{{.|markdown}}</li> {{end}}
        </ul> {{end}}
      {{end}}
  {{if eq $s.ID "skills"}}
      </div>
  {{end}}
  {{end}}
  {{if eq $s.Layout "block"}}
      {{with .Data}}
        {{range .}} 
      <div class="block">
        <div class="main-row">
          <div class="org"> <h3>{{.Org}}</h3> </div>
          <div class="when"> <h3>{{.When}}</h3> </div>
        </div>
        <div class="sub-row">
          <div class="role"> <h4>{{.Role}}</h4> </div>
          <div class="location"> <h4>{{.Location}}</h4> </div>
        </div>
        <ul>
          {{range .Bullets}} <li>{{.|markdown}}</li> {{end}}
        </ul>
      </div>
      {{end}}
      {{end}}
  {{end}}
  {{if eq $s.Layout "desc"}}
      {{with .Data}}
      <!-- <h4>{{.Contents}}</h4> -->
      {{.Contents}}
      {{end}}
  {{end}}
      </div>
{{end}}
    </main>

    <footer>
      <small>&copy; {{.Copyright}}</small>
    </footer>

    <!-- Built with love using Web Starter Kit -->

  </body>
</html>
