<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Digital resume for Homin Lee.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{.Name}}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Homin Lee">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- iOS icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/touch/apple-touch-icon-57x57-precomposed.png">

    <!-- Generic Icon -->
    <link rel="shortcut icon" href="images/touch/touch-icon-57x57.png">

    <!-- Chrome Add to Homescreen -->
    <link rel="shortcut icon" sizes="196x196" href="images/touch/touch-icon-196x196.png">

    <!-- Javascript -->
    <script type="text/javascript" src="https://suapapa.github.io/resume/assets/jquery.js"></script>
    <script type="text/javascript">
      labels = [
        {{range .Sections}}
          "{{.ID}}",{{end}}
      ];
    </script>
    <script type="text/javascript" src="https://suapapa.github.io/resume/assets/scroller.js"></script>
    <script type="text/javascript" src="https://suapapa.github.io/resume/assets/main.js"></script>

    <!-- stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://suapapa.github.io/resume/assets/h5bp.css">
    <link type="text/css" rel="stylesheet" href="https://suapapa.github.io/resume/assets/components/components.css">
    <link type="text/css" rel="stylesheet" href="https://suapapa.github.io/resume/assets/main.css">
    <link type="text/css" rel="stylesheet" href="https://suapapa.github.io/resume/assets/custom.css">

  </head>
  <body>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="menu"></button>
        <h1 class="logo"><b>Homin Lee</b></h1><br />
        <h2 class="logo2">Professional Fullstack Opensource Engineer</h2>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <ul>
        {{range .Sections}}
        <li><a href="#{{.ID}}" class="to-{{.ID}}"> {{.Name}} </a></li> {{end}}
      </ul>
    </nav>
    <main>
{{range $s := .Sections}}
      <div class="senction">
        <h2 id="{{.ID}}"> {{.Name}} </h2>
        <hr />
  {{if eq $s.Layout "list"}}
      {{with .Data}}
        {{range .}} 
        <h3>{{.Title}}</h3>
        <ul>
          {{range .Item}} <li>{{.|markdown}}</li> {{end}}
        </ul> {{end}}
      {{end}}
  {{end}}
  {{if eq $s.Layout "block"}}
      {{with .Data}}
        {{range .}} 
      <div class="block">
        <div class="main-row">
          <div class="org"> <h3>{{.Org}}</h3> </div>
          <div class="when"> <h3>{{.When}}</h3> </div>
        </div>
        <div class="sub-row">
          <div class="role"> <h4>{{.Role}}</h4> </div>
          <div class="location"> <h4>{{.Location}}</h4> </div>
        </div>
        <ul>
          {{range .Bullets}} <li>{{.|markdown}}</li> {{end}}
        </ul>
      </div>
      {{end}}
      {{end}}
  {{end}}
      </div>
{{end}}


    <div class="section">
      <h2 id="professional">
        Professional
      </h2>
      <hr />
      <div class="block">
        <div class="main-row">
          <div class="org">
            <h3>Kakao Enterprise</h3>
          </div>
          <div class="when">
            <h3>Dec 2019 - Now</h3>
          </div>
        </div>
        <div class="sub-row">
          <div class="role">
            <h4>Engineer</h4>
          </div>
          <div class="location">
            <h4></h4>
          </div>
        </div>

        <ul>
          <!-- <li><p>Research Go IoT</p> </li> -->
        </ul>
      </div>



      <div class="block">
        <div class="main-row">
          <div class="org">
            <h3>Kakao</h3>
          </div>
          <div class="when">
            <h3>Nov 2017 - Dec 2019</h3>
          </div>
        </div>
        <div class="sub-row">
          <div class="role">
            <h4>Engineer</h4>
          </div>
          <div class="location">
            <h4></h4>
          </div>
        </div>

        <ul>
          <!-- <li><p>Research Go IoT</p> </li> -->
        </ul>
      </div>


      <div class="block">
        <div class="main-row">
          <div class="org">
            <h3>KossLab</h3>
          </div>
          <div class="when">
            <h3>Jan 2016 - Nov 2017</h3>
          </div>
        </div>
        <div class="sub-row">
          <div class="role">
            <h4>Researcher</h4>
          </div>
          <div class="location">
            <h4></h4>
          </div>
        </div>

        <ul>
          <li><p>Research Go IoT</p> </li>
        </ul>
      </div>

      <div class="block">
        <div class="main-row">
          <div class="org">
            <h3>InSignal</h3>
          </div>
          <div class="when">
            <h3>June 2011 - Sept 2015</h3>
          </div>
        </div>
        <div class="sub-row">
          <div class="role">
            <h4>Software Engineer</h4>
          </div>
          <div class="location">
            <h4></h4>
          </div>
        </div>

        <ul>

          <li><p>Wrote Linux device driver for secure-chip in Samsung <a href="https://www.artik.io">ARTIK</a></p>
          </li>

          <li><p>Made Android camera HAL for Samsung Exynos 4210 SoC</p>
          </li>

        </ul>

      </div>

      <div class="block">
        <div class="main-row">
          <div class="org">
            <h3>Ajentech</h3>
          </div>
          <div class="when">
            <h3>Oct 2009 - May 2011</h3>
          </div>
        </div>
        <div class="sub-row">
          <div class="role">
            <h4>Software Engineer</h4>
          </div>
          <div class="location">
            <h4></h4>
          </div>
        </div>

        <ul>

          <li><p>Upgrade Android PDK to Gingerbread for TI OMAP SoC</p>
          </li>

          <li><p>Enhanced Linux device driver robust to accidental SD removal for LG Android phones</p>
          </li>

        </ul>

      </div>

      <div class="block">
        <div class="main-row">
          <div class="org">
            <h3>Cubicwave</h3>
          </div>
          <div class="when">
            <h3>Mar 2007 - Oct 2009</h3>
          </div>
        </div>
        <div class="sub-row">
          <div class="role">
            <h4>Software Engineer</h4>
          </div>
          <div class="location">
            <h4></h4>
          </div>
        </div>

        <ul>

          <li><p>Designed and implemented DB API for LGT TPAK platform</p>
          </li>

          <li><p>Wrote Camera FW code for PANTECH phones</p>
          </li>

        </ul>

      </div>

      <div class="block">
        <div class="main-row">
          <div class="org">
            <h3>EDAMIC - Edam Information & Communications</h3>
          </div>
          <div class="when">
            <h3>Dec 2003 - Mar 2007</h3>
          </div>
        </div>
        <div class="sub-row">
          <div class="role">
            <h4>Software Engineer</h4>
          </div>
          <div class="location">
            <h4></h4>
          </div>
        </div>

        <ul>

          <li><p>Made Arabic IME for LG BASE platform</p>
          </li>

          <li><p>Wrote Camera UI code on Qualcomm REX OS for LG phones</p>
          </li>

        </ul>

      </div>














    </div>

    <div class="section">
      <h2 id="honors">
        Honors
      </h2>
      <hr />






















      <h3>Awards</h3>
      <ul>

        <li><p>Cloud Braille Printer, Choosen to GoogleHackFair (2012) <a href="https://www.youtube.com/watch?v=LWKFJUDL1gE">Video</a></p>
        </li>

        <li><p>HangulClock, Tinkerer prize at Arduino DIY contest, Make:Korea (2011)</p>
        </li>

      </ul>







    </div>

    <div class="section">
      <h2 id="education">
        Education And Others
      </h2>
      <hr />















      <div class="block">
        <div class="main-row">
          <div class="org">
            <h3>Inha University</h3>
          </div>
          <div class="when">
            <h3>Mar 1997 - Feb 2004</h3>
          </div>
        </div>
        <div class="sub-row">
          <div class="role">
            <h4>B.S. in Computer Engineering</h4>
          </div>
          <div class="location">
            <h4>Incheon, Korea</h4>
          </div>
        </div>

      </div>

      <div class="block">
        <div class="main-row">
          <div class="org">
            <h3>Korean ARMY</h3>
          </div>
          <div class="when">
            <h3>April 1999 - May 2001</h3>
          </div>
        </div>
        <div class="sub-row">
          <div class="role">
            <h4>Sergeant</h4>
          </div>
          <div class="location">
            <h4></h4>
          </div>
        </div>

      </div>










    </div>

    </main>




    <footer>
      <small>&copy; {{.Copyright}}</small>
    </footer>

    <!-- google analytics -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','{{.Analytics}}');ga('send','pageview');
    </script>
    <!-- Built with love using Web Starter Kit -->

  </body>
</html>
